header {
    background-color: blanchedalmond;
    color:rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 28px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
li a {
    display: block;
    color:black;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;

}
li a:hover {
    background-color: antiquewhite;

}
.Education {
    font-family: sans-serif;
    padding: 10px;
}
.skills {
  font-family: sans-serif;
  padding: 10px;
}